/* css styles */


/* justificar el texto */ 
p, ul, ol {
  text-align: justify; }    
  
  
.rojo {
  color: red;
}

.yellow-background {
  background-color: yellow;
}

.importante {
  color: red;
  background-color: yellow;
}